@import "library";

p {
    font-size: calc(var(--ar-body-font-size) * 1.25) !important;
}
#section-hero {

    //background-image: url("assets/images/frontend/home/london-bridge.jpg");
    //background-size: cover;
    //background-position: right;
    //transform: rotateY(-180deg);

    #hero-content-text {
        //transform: rotateY(180deg);

        ul {
            li {
                color: black !important;
            }
        }
    }
}
#section-courses {
  //transform: skew(0, -2.76deg) translateY(calc(50vw/-12));

    .course {
        max-width: 400px;

        i {
            margin-top: -56px;
            color: var(--color-theme-dark);
            font-size: 60px !important;
        }
    }

    p {
        color: var(--ar-gray-800);
    }

    .alphabet {
        color: var(--color-theme-dark);
        transform: translate3d(0, 0, 0);
        //font-size: 50px;

        &:first-child {
            border-top-left-radius: var(--ar-border-radius-lg);
        }
        &:last-child {
            border-top-right-radius: var(--ar-border-radius-lg);
        }
    }
}

#section-medics {
    .steps {
        .step-body {
          //color: white;
        }

        .step-number {
            position: relative;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: var(--ar-steps-number-size);
            height: var(--ar-steps-number-size);
            background-color: rgba(var(--ar-primary-rgb), 0.1);
            border-radius: var(--ar-steps-number-border-radius);
        }
        .step-number::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(var(--ar-primary-rgb), 0.1);
            border-radius: var(--ar-steps-number-border-radius);
            opacity: 0;
            transition: transform 0.3s ease-in-out, opacity 0.2s;
            transform: scale(0.5);
        }

        .step-number-inner {
            color: white !important;
            background-color: var(--color-theme-dark) !important;
        }
    }
}

#section-why-us, #section-jobs {
  p {
    color: black;
  }
}

section {
    .section-title {
        color: var(--color-theme-dark);
    }
}

#journey {
  .icon {
    font-size: 6em;
    color: $theme-color;
  }
  img {
    max-width: 140px;
  }
}
