//
// user.scss
// Use this to write your custom SCSS
//

.navbar-nav {
    .nav-link.active, .nav-link.show {
        text-decoration-color: var(--color-theme-dark) !important;
        border-bottom: 1px solid var(--color-theme-dark) !important;
    }
}

.nav-link:hover, .nav-link:focus, .dropdown-item:hover, .dropdown-item:focus {

}



/////////////////
$purplemed-color: #9a145d; // #46becb;
$purplemed-color-light: rgb(154 20 93 / 50%);
$purplemed-color-dark: rgb(154 20 93 / 80%);
$theme-color: $purplemed-color-light;
$theme-color-lightest: rgb(154 20 93 / 10%);
$theme-color-dark: $purplemed-color-dark;

:root {
    //--color-theme : rgb(154 20 93 / 50%); //$theme-color;
    --color-theme-dark : rgb(154 20 93 / 80%); //$theme-color-dark;
    //--ar-navbar-hover-color: var(--color-theme-dark) !important;
    //--ar-heading-link-hover-color: var(--color-theme-dark) !important;
    //--ar-accordion-active-color: var(--color-theme-dark) !important;
}



@-webkit-keyframes draw_pre_loader {
    to {
        stroke-dashoffset: 0;
    }
}
@-moz-keyframes draw_pre_loader {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes draw_pre_loader {
    to {
        stroke-dashoffset: 0;
    }
}
.pre-loader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background: #ffffff;
    top: 0;
    left: 0;
    .beat-loader{
        stroke: var(--color-theme-dark);
        stroke-dasharray: 175;
        stroke-dashoffset: 350;
        -webkit-animation: draw_pre_loader 1.4s linear;
        -moz-animation: draw_pre_loader 1.4s linear;
        animation: draw_pre_loader 1.4s linear;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
}
